{{> header.hbs }}

<!-- Main -->
<section id="main" class="container 75%">
    <header>
        <h2>Announcements</h2>
        <p>All announcements are written by Ardent developers or administrators</p>
    </header>
    {{#each announcements}}
        <div class="box">
            <h3><b>{{date}}</b> ({{writer.name}}#{{writer.discriminator}})</h3>
            <p>{{content}}</p>
        </div>
    {{/each}}
</section>

{{> footer.hbs }}