{{> header.hbs }}
{{#if showSnackbar}}
    <a href="#" style="margin: 50px auto 0 auto; width: 75%; display: block;"
       class="button special small">{{snackbarMessage}}</a>
{{/if}}
<!-- Main -->
<section id="main" class="container 75%">
    <h1 style="font-size: 50px;">You don't have permission to access this..</h1>
    <img src="http://i.dailymail.co.uk/i/pix/2014/04/11/article-2602528-1D06B2D200000578-424_634x471.jpg">
    <h5><b>Whatcha doin', Willis?</b></h5>
</section>

{{> footer.hbs }}