{{> header.hbs }}

<!-- Main -->
<section id="main" class="container 75%">
    <header>
        <h2>Find Peoples' Discord ID</h2>
    </header>
    <div class="box">
        <h3>Step 1</h3>
        <p>Make sure Ardent is on your server. If it's not, add it by clicking <a href="/invite">here</a></p>
    </div>
    <div class="box">
        <h3>Step 2</h3>
        <p>Type <b>/getid</b> followed by a mention of the person whose ID you want to get. An example is shown below</p>
        <img src="/images/find_id_ardent.png">
    </div>
</section>

{{> footer.hbs }}