<!-- Footer -->
<footer id="footer">
    <ul class="icons">
        <li><a href="https://twitter.com/ardentbot" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://github.com/adamint/ArdentKotlin" class="icon fa-github"><span class="label">Github</span></a></li>
    </ul>
    <ul class="copyright">
        <li>&copy; Ardent 2017. All rights reserved.</li>
        <li>Design adapted from HTML5 UP</li>
    </ul>
</footer>

</div>
<div id="snackbar">hi</div>
<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.dropotron.min.js"></script>
<script src="/assets/js/jquery.scrollgress.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="/assets/js/main.js"></script>

</body>
</html>