{{> header.hbs }}

<!-- Main -->
<section id="main" class="container 75%">
    <header>
        <h2>Getting started with <b>Ardent</b></h2>
        <p>We're glad you decided to choose us - here are a few tips from us to help you get used to Ardent</p>
    </header>
    <div class="box">
        <h3>Commands</h3>
        <p>Ardent commands by default have a prefix of <b>/</b> (a forward slash), changeable by typing <b>/prefix</b>.
            <br/> You can always view a list of commands by typing <b>/help</b>. An example is shown below</p>
        <img src="/images/ardent_command_help.png" height="50%" width="50%">
    </div>
    <div class="box">
        <h3>Music</h3>
        <p>Ardent has an amazing music system, allowing playback from Spotify, Soundcloud, and YouTube, among
            others.</p>
        <p>To play tracks, use <b>/play track name</b>- You can either play tracks directly by their URL or by
            searching
            its name</p>
        <img src="/images/ardent_music_direct.png" height="75%" width="75%">
        <br />
        <br />
        <p>Ardent also has an <b>autoplay</b> feature, which will play a similar track when your queue ends by running
            the last played track through Spotify's music recommendation engine. This is <b>disabled</b> by default, but you can enable
            it on the Ardent Web Panel by allowing Ardent to clicking <a href="/manage">here</a> - you might need to log in and then click the <b>Manage</b> button on the top right!</p>
    </div>
</section>

{{> footer.hbs }}