{{> header.hbs }}

<!-- Main -->
<section id="main" class="container 75%">
    <header>
        <h2>Guess the Number Stats will be on our website soon</h2>
        <p>In the meantime, check out stats inside discord by using <b>/gtnstats</b>!</p>
    </header>
    <div class="box">
        <p>Tip: If you see a <b>Manage</b> link in the right corner, you're logged in and can visit the web panel by clicking <a href="/manage">here</a>!</p>
        <p>Something not working? <b>Fill out a support ticket <a href="/tickets/new">here</a></b> or view your active tickets <a href="/tickets/">here</a></p>
    </div>
</section>

{{> footer.hbs }}