{{> headerHome.hbs }}

<!-- Banner -->
<section id="banner">
    <h2>Ardent</h2>
    <p>Administrative & Trivia bot - Try it out!</p>
    <ul class="actions">
        <li><a href="/invite" class="button special">Get it</a></li>
        <li><a href="/status" class="button">Status</a></li>
    </ul>
</section>

<!-- Main -->
<section id="main" class="container">

    <section class="box special">
        <header class="major">
            <h2>Ardent is the ultimate Discord bot
                <br/>
                to have fun or administrate your server</h2>
            <p>With music, customizable settings, games, administrative commands, and more, why wouldn't you get
                Ardent?</p>
        </header>
    </section>

    <section class="box special features">
        <div class="features-row">
            <section>
                <span class="icon major fa-bolt accent2"></span>
                <h3>Lightning Fast</h3>
                <p>You can count on Ardent to be online and quickly respond - we guarentee it! Check out our <a
                        href="/support">support server</a>
                    to be informed about maintenance and downtimes</p>
            </section>
            <section>
                <span class="icon major fa-area-chart accent3"></span>
                <h3>Statistics</h3>
                <p>We aim to be totally transparent with you - with a public <a
                        href="https://github.com/adamint/ArdentKotlin">github repository</a> and
                    <a href="/status">a status page</a> - you'll also be able to check your stats soon on our
                    leaderboards</p>
            </section>
        </div>
        <div class="features-row">
            <section>
                <span class="icon major fa-cloud accent4"></span>
                <h3>We run on OVH</h3>
                <p>We use OVH servers and a RethinkDB database to ensure top-of-the-line performance and minimal downtime. We're also
                able to ensure data protection through backups.</p>
            </section>
            <section>
                <span class="icon major fa-lock accent5"></span>
                <h3>Security</h3>
                <p>You can be guaranteed that no one unauthorized by you will be able to use Ardent administrative commands and mess up your server.</p>
            </section>
        </div>
    </section>

</section>

{{> footer.hbs }}