{{> headerHome.hbs }}

<!-- Banner -->
<section id="banner">
    <h2>Ardent</h2>
    <p>Administrative & Trivia bot - Try it out!</p>
    <ul class="actions">
        <li><a href="/invite" class="button special">Get it</a></li>
        <li><a href="/status" class="button">Status</a></li>
    </ul>
</section>

<!-- Main -->
<section id="main" class="container">
    <section class="box special">
        <header class="major">
            <h3>Ardent is the ultimate Discord bot - See <a href="/invite">why</a>!</h3>
            <p>Curious about what we've been working on? Visit the <a href="/announcements">announcements page</a></p>
        </header>
    </section>
</section>

{{> footer.hbs }}