{{> header.hbs }}

<section id="main" class="container 75%">
    <header>
        <h2>Language List</h2>
        <p>Use <b>/translate <em>language_code</em> your_text_here</b> to translate between the detected language and
            the target</p>
    </header>
    <br />
    <h4></h4>
    <div class="table-wrapper">
        <div class="6u" style="float: left;">
            <table class="alt">
                <thead>
                <tr>
                    <th>Language Name</th>
                    <th>Code</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>English</td>
                    <td>en</td>
                </tr>
                <tr>
                    <td>French</td>
                    <td>fr</td>
                </tr>
                <tr>
                    <td>Spanish</td>
                    <td>es</td>
                </tr>
                <tr>
                    <td>Russian</td>
                    <td>ru</td>
                </tr>
                <tr>
                    <td>Turkish</td>
                    <td>tr</td>
                </tr>
                <tr>
                    <td>Ukranian</td>
                    <td>uk</td>
                </tr>
                <tr>
                    <td>English</td>
                    <td>en</td>
                </tr>
                <tr>
                    <td>Swahili</td>
                    <td>sw</td>
                </tr>
                <tr>
                    <td>Azerbaijani</td>
                    <td>az</td>
                </tr>
                <tr>
                    <td>Armenian</td>
                    <td>hy</td>
                </tr>
                <tr>
                    <td>Indonesian</td>
                    <td>id</td>
                </tr>
                <tr>
                    <td>Korean</td>
                    <td>ko</td>
                </tr>
                <tr>
                    <td>Belarusian</td>
                    <td>be</td>
                </tr>
                <tr>
                    <td>Japanese</td>
                    <td>ja</td>
                </tr>
                <tr>
                    <td>Georgian</td>
                    <td>ka</td>
                </tr>
                <tr>
                    <td>Kazakh</td>
                    <td>kk</td>
                </tr>
                <tr>
                    <td>Italian</td>
                    <td>it</td>
                </tr>
                <tr>
                    <td>Romanian</td>
                    <td>ro</td>
                </tr>
                <tr>
                    <td>Hungarian</td>
                    <td>hu</td>
                </tr>
                <tr>
                    <td>Malay</td>
                    <td>ms</td>
                </tr>
                <tr>
                    <td>Macedonian</td>
                    <td>mk</td>
                </tr>
                <tr>
                    <td>Persian</td>
                    <td>fa</td>
                </tr>
                <tr>
                    <td>Danish</td>
                    <td>da</td>
                </tr>
                <tr>
                    <td>Latvian</td>
                    <td>lv</td>
                </tr>
                <tr>
                    <td>Irish</td>
                    <td>ga</td>
                </tr>
                <tr>
                    <td>Serbian</td>
                    <td>sr</td>
                </tr>
                <tr>
                    <td>Albanian</td>
                    <td>sq</td>
                </tr>
                <tr>
                    <td>Polish</td>
                    <td>pl</td>
                </tr>
                <tr>
                    <td>Croatian</td>
                    <td>hr</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="6u" style="float:left;">
            <table class="alt">
                <thead>
                <tr>
                    <th>Language Name</th>
                    <th>Code</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Thai</td>
                    <td>th</td>
                </tr>
                <tr>
                    <td>Norwegian</td>
                    <td>no</td>
                </tr>
                <tr>
                    <td>Finnish</td>
                    <td>fi</td>
                </tr>
                <tr>
                    <td>Tajik</td>
                    <td>tg</td>
                </tr>
                <tr>
                    <td>Basque</td>
                    <td>eu</td>
                </tr>
                <tr>
                    <td>Arabic</td>
                    <td>ar</td>
                </tr>
                <tr>
                    <td>Catalan</td>
                    <td>ca</td>
                </tr>
                <tr>
                    <td>Dutch</td>
                    <td>nl</td>
                </tr>
                <tr>
                    <td>Bulgarian</td>
                    <td>bg</td>
                </tr>
                <tr>
                    <td>Afrikaans</td>
                    <td>af</td>
                </tr>
                <tr>
                    <td>Mongolian</td>
                    <td>mn</td>
                </tr>
                <tr>
                    <td>Haitian</td>
                    <td>ht</td>
                </tr>
                <tr>
                    <td>Portuguese</td>
                    <td>pt</td>
                </tr>
                <tr>
                    <td>German</td>
                    <td>de</td>
                </tr>
                <tr>
                    <td>Tagalog</td>
                    <td>tl</td>
                </tr>
                <tr>
                    <td>Bosnian</td>
                    <td>bs</td>
                </tr>
                <tr>
                    <td>Vietnamese</td>
                    <td>vi</td>
                </tr>
                <tr>
                    <td>Czech</td>
                    <td>cs</td>
                </tr>
                <tr>
                    <td>Greek</td>
                    <td>el</td>
                </tr>
                <tr>
                    <td>Malagasy</td>
                    <td>mg</td>
                </tr>
                <tr>
                    <td>Slovak</td>
                    <td>sk</td>
                </tr>
                <tr>
                    <td>Lithuanian</td>
                    <td>lt</td>
                </tr>
                <tr>
                    <td>Estonian</td>
                    <td>et</td>
                </tr>
                <tr>
                    <td>Chinese</td>
                    <td>zh</td>
                </tr>
                <tr>
                    <td>Hebrew</td>
                    <td>he</td>
                </tr>
                <tr>
                    <td>Uzbek</td>
                    <td>uz</td>
                </tr>
                <tr>
                    <td>Latin</td>
                    <td>la</td>
                </tr>
                <tr>
                    <td>Slovenian</td>
                    <td>sl</td>
                </tr>
                <tr>
                    <td>Swedish</td>
                    <td>sv</td>
                </tr>
                <tr>
                    <td>Icelandic</td>
                    <td>is</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

{{> footer.hbs }}