<h1><a href="/">Ardent</a> | Discord Bot</h1>
<nav id="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/status">Status</a></li>
        <li><a href="/commands">Commands</a></li>
        {{# if validSession}}
            <li><a href="/tickets/">Support Tickets</a></li>
        {{/if}}
        <li>
            <a href="#" class="icon fa-angle-down">Info</a>
            <ul>
                <li><a href="/staff">Staff</a></li>
                <li><a href="/patrons">Supporters</a></li>
                <li><a href="/patreon">Patreon</a></li>
                <li>
                    <a href="#" class="icon fa-angle-down"> Discord Guides</a>
                    <ul>
                        <li><a href="/guides/identifier">Find Peoples' Discord ID</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="/invite">Invite</a></li>
        {{# if validSession}}
            <li><a href="/manage" class="button">Manage</a></li>
        {{else}}
            <li><a href="/login" class="button">Login</a></li>
        {{/if}}
    </ul>
</nav>
</header>