{{> header.hbs }}

<!-- Main -->
<section id="main" class="container 75%">
    <header>
        <h2>Staff</h2>
    </header>
    <div class="box">
        <h3>Our Patrons</h3>
        <p>You can be shown here and support Ardent at <a
                href="https://patreon.com/ardent">https://patreon.com/ardent</a>!</p>
        <p>
            {{#each patrons}}
                <figure style="display: inline-block; padding-right: 30px;">
                    <img height="128" width="128" src="{{effectiveAvatarUrl}}">
                    <figcaption>{{name}}#{{discriminator}}</figcaption>
                </figure>
            {{/each}}
        </p>
    </div>

</section>

{{> footer.hbs }}